<h1 class="header">ALIAS</h1>
<div class="container">
	<h3 id="team"></h3>
	<p id="time"></p>
	
	<!--<div id="list">
		
	</div>
	<a href="" onclick="function(){list.replaceChild(getWords(),list.childNodes[0])};">Next</a>-->
	<h1 id="word"></h1>
	<button class="btn btn-success" type="button" onclick="givePoint()">Yes</button>
	<button class="btn btn-danger" type="button" onclick="takePoint()">No</button>
	<h5>Points:</h5>
	<h2 id="points"></h2>
</div>