<h1 class="header">ALIAS</h1>
<div class="container">

	<h3 id="team"></h3>
	<p id="time"></p>
	<h1 id="word"></h1>
	<button class="btn btn-success" type="button" onclick="givePoint()">Yes</button>
	<button class="btn btn-danger" type="button" onclick="takePoint()">No</button>
	<h3>Points</h3>
	<h4 id="points"></h4>
	<div id="new"></div>
</div>